:root{
    --main-color : #02c1c2 ;
    --second-color :#2a245e;
}

body {
    padding-bottom: 20px;
}

/* navbar */
.navbar {
    margin-bottom: 20px;

}
.nav-link{
    color: black;
    font-weight: 700;
    font-size: 15;
    font-family: sans-serif;
}
.navbar-collapse{
    margin-left: 50px;
}
.navbar-brand{
    color: var(--main-color);
    font-weight: 900;
}


.hero h1{
    color: var(--main-color) !important;
    font-weight: 900;
}

ul .check-list{
    list-style-type: circle !important; 
}

h2, h3, h4{
    color: var(--main-color) !important;
    font-weight: 900;
}

.bg-gradient{
    background-color: var(--main-color) !important;
}


.l{
    color: white !important;
}